
/*list*/
.list{width:950px; margin:5px auto;  background:#fff; text-align:left;overflow:hidden;}
.list_left{width:190px; float:left; overflow:hidden;margin:0 auto;}
.list_right{width:750px; margin-left:10px; float:right;overflow:hidden;background: url(../img/dianmeng/list_bg.gif) no-repeat;}

/*list_hot*/
.list_hot{width:188px; border-right: #b4b4b4 1px solid;border-left: #b4b4b4 1px solid; background-color:#F6F6F6;border-bottom: #b4b4b4 1px solid;overflow:hidden;}
.hot_head{height:33px; line-height:33px; background: #ebebeb; border-bottom:#b4b4b4 1px solid; border-top: #b4b4b4 1px solid; border-right: #e10c3a 2px solid;}
.hot_head span{float:left;width:120px;font-size:14px;font-weight:bold; color:#FFFFFF; padding-left:35px; line-height:33px;background: url(../img/dianmeng/nav01.gif) no-repeat;}
.hot_goods{width:188px; margin:0 auto; overflow:hidden;}
.hot_goods_list{width:162px; margin:0 auto; padding-top:20px;  background-image: url(../img/dianmeng/goods_line.gif);background-repeat: repeat-x;background-position: bottom;}
.hot_goods_list_title{width:160px; height:20px; line-height:20px; text-align:center; background:#F2F2F2; position: absolute; margin-top:135px; margin-left:2px; overflow:hidden;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.hot_goods_list_title a{color:#333333; text-decoration:none;}
.hot_goods_list_title a:hover{color:#333333; text-decoration:none;}
.hot_goods_list_img{width:160px; height:160px; padding:1px; border-top: #b4b4b4 1px solid;border-bottom: #b4b4b4 1px solid;border-left: #b4b4b4 1px solid;border-right: #b4b4b4 1px solid;text-align:center;}
.hot_goods_list_img_hover{width:160px; height:160px; padding:1px; border-top: #e10c3a 1px solid;border-bottom: #e10c3a 1px solid;border-left: #e10c3a 1px solid;border-right: #e10c3a 1px solid;text-align:center;}
.hot_goods_list_img_hover a{width:160px; height:160px; display:block;}
.hot_goods_list_price{width:160px; margin:3px auto; line-height:20px; text-align:center;}
.hot_goods_list_scprice{text-decoration:line-through}
.hot_goods_list_tbprice{color:#e20c3a}
.hot_goods_list_num{color: #009900}

/*list_place*/
.list_place{width:750px; overflow:hidden; height:35px; line-height:35px; padding-left:15px;background-image: url(../img/dianmeng/goods_line.gif);background-repeat: repeat-x;background-position: bottom;}
.list_place_ioc{float:left; padding-top:10px; padding-right:5px;}
.list_place_nav{float:left;}
.list_place_nav a{padding:0px 5px; color:#e20c3a;}
.list_place_nav span{padding:0px 5px;color:#e20c3a;}

/*leftad*/
.leftad{text-align:center; margin:0 auto;clear:both;}
.leftad li{padding:15px 0px 15px; background-image: url(../img/dianmeng/goods_line.gif);background-repeat: repeat-x;background-position: bottom;}
.leftad li img{padding:1px; border: #D2D2D2 1px solid; background-color:#FFFFFF;}

.topad{width:748px; height:70px; padding:5px 0px 12px 0px; border-left: #e7e7e7 1px solid;border-right: #e7e7e7 1px solid;text-align:center;background-image: url(../img/dianmeng/goods_line.gif);background-repeat: repeat-x;background-position: bottom;clear:both;}
.topad li{float:left;}
.topad li img{margin:6px; padding:1px; border: #D2D2D2 1px solid; background-color:#FFFFFF}

/*goods_title*/
.goods_title{width:748px; height:30px; overflow:hidden;border-left: #e7e7e7 1px solid;border-right: #e7e7e7 1px solid;border-bottom: #e7e7e7 1px solid;background:url(../img/dianmeng/lookbg.gif) repeat-x;}
.title_ioc{float:left; padding-top:6px; padding-left:15px; padding-right:5px;}
.goodstitle{float:left; line-height:30px; font-size:14px; font-weight:bold;}
.title_iocr{float:right; padding-top:6px; padding-left:15px; padding-right:10px;}

/*goods_info*/
.goods_info{width:749px; height:322px; padding-top:5px;border-right: #e7e7e7 0px solid;border-bottom: #e7e7e7 0px solid; overflow:hidden;clear:both;}

.goods_info_img{float:left;width:310px; height:310px; padding:3px; border-top: #b4b4b4 1px solid;border-bottom: #b4b4b4 1px solid;border-left: #b4b4b4 1px solid;border-right: #b4b4b4 1px solid;text-align:center;}
.goods_info_img_hover{float:left;width:310px; height:310px; padding:3px; border-top: #e10c3a 1px solid;border-bottom: #e10c3a 1px solid;border-left: #e10c3a 1px solid;border-right: #e10c3a 1px solid;text-align:center;}
.goods_info_img_hover a{width:310px; height:310px; display:block;}

.goods_info_div{float:right; width:410px; overflow:hidden;}
.goods_info_div li{height:25px; line-height:25px;}

.scprice span{padding-right:6px; text-decoration:line-through}
.price b{font-size:16px; color:#ff6600; padding-right:6px;}
.ems span{padding-right:6px;}
.stocknum b{font-size:16px; color:#739F24; padding-right:6px;}

.go_buy{margin:20px auto;}
.go_buy img{margin-right:20px;}

/*goods_head*/
.goods_head{width:748px; overflow:hidden; height:30px; line-height:30px; border-right: #e7e7e7 1px solid;border-left: #e7e7e7 1px solid; border-bottom: #e7e7e7 1px solid; background:url(../img/dianmeng/lookbg.gif) repeat-x; color:#e20c3a;font-size:14px; font-weight:bold}
.goods_head_ioc{float:left; padding-top:8px; padding-left:10px; padding-right:5px;}
.goods_head_nav{float:left;}
.goods_head_h1{float:left;padding:0px 5px;color:#e20c3a;font-size:14px;}

/*goods_props*/
.goods_props{width:748px; overflow:hidden;border-left: #e7e7e7 0px solid;border-right: #e7e7e7 0px solid;border-bottom: #e7e7e7 0px solid;}
.goods_props_catalogs {width:730px;margin:5px auto; padding:2px;background-color:#F3F3F3;border: 1px solid #D2D2D2;}
.goods_props_catalogs li {width:180px; float:left; text-align:left; line-height:22px; height:22px; color:#333333; overflow:hidden;}
.goods_props_catalogs li img{padding-left:8px; padding-right:5px; padding-top:5px;}

/*goods_desc*/
#goods_desc{width:748px; border-left:#e7e7e7 0px solid;border-right: #e7e7e7 0px solid;border-bottom: #e7e7e7 0px solid; overflow:hidden;}

ul, li, dl, dt, dd, form, p {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}